<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- This path is for live-server to work: /src/main/resources/static/css/style.css  -->
     <!-- This path is for ultimatly the application to work: /css/style.css -->
    <title>Currency converter</title>
</head>
<body>
    <h1>Online Currency Converter</h1>


    <div class="container">    
        <p class="simpleText">This is a online currency converter. Choose the currency you want to
            exchange from and to.
        </p>

        <form action="IDONTKNOWYET" method="post">
            <div class="Currencies">
                <select name="fromCurrency" id="fromCurrency" class="selector">
                    <option value="SEK">SEK</option>
                    <option value="EUR">EUR</option>
                    <option value="USD">USD</option>
                    <option value="CAD">CAD</option>
                    <option value="AUD">AUD</option>
                </select>
                <select name="toCurrency" id="toCurrency" class="selector">
                    <option value="EUR">EUR</option>
                    <option value="SEK">SEK</option>
                    <option value="USD">USD</option>
                    <option value="CAD">CAD</option>
                    <option value="AUD">AUD</option>
                </select>
            </div>
            <div class="amount" name="amount" id="amount">
                <input type="number">
            </div>


        </form>

        <div class="result" th:if="${convertedAmount != null}"> 
            <p>Converted Amount: <span th:text="${convertedAmount}"></span></p>
        </div>
        <div class="result" th:unless="${convertedAmount != null}"> 
            <p>Converted Amount: 0</p>
        </div>
    </div>

</body>
</html>